<h1>Voimassa oleva Ajokortit</h1>
<p>Suomessa sukupuolen mukaan voimassa olevia ajokortteja:</p>
<div class="kuvaajat">
    <img src="@Url.Action("Kortit")" alt="Graafi" />
    <img src="@Url.Action("KortitIkaluokat")" alt="Ikaluokittain" />
</div>
