@model Ajokortit.Models.SelectLista


<h1>Voimassa oleva Ajokortit suomessa</h1>

<div class="filtterit">
    @using (Ajax.BeginForm("", "ControllerB",
        new AjaxOptions { HttpMethod = "POST", OnSuccess = "processResult" },
        new { id = "myForm" }))
    {
        @Html.DropDownListFor(x => x.SelectedItem,
                                                       new SelectList(Model.Items, "Value", "Text"),
                                                       new { id = "form-control", name = "ParameterValue" }
                                                       )
        <input id="Hidden1" type="hidden" />
    }
</div>

<div id="district-select"></div>
<div id="chartContainer" style="height: 300px; width: 50%;"></div>
<div id="chartContainer1" style="height: 300px; width: 50%;"></div>

@section Scripts {
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script type="text/javascript">

        //Tapahtuu kun dokumentti latautunut
        $(document).ready(function () {
            //Tapahtuu kun joku maakunta on valittu
            $("#form-control").change(function () {
                var id = $('#form-control').val().toString();
                var serviceURL = '/Home/jsonIka';
                var serviceURL2 = '/Home/jsonSukupuol';

                //Sukupuoli
                $.ajax({
                    type: "GET",
                    url: serviceURL2,
                    data: { a: id },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successFuncSuk,
                    error: errorFunc
                });

                //Ika
                $.ajax({
                    type: "GET",
                    url: serviceURL,
                    data: { a: id },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successFuncIka,
                    error: errorFunc
                });

                //päivitetään sukupuolitaulukko
                function successFuncSuk(data, status) {
                    var finals = [];
                    var tabData = JSON.parse(data);
                    for (var i = 0; i < tabData.length; i++) {
                        finals.push({ 'label': tabData[i].label, 'y': tabData[i].y });
                    }
                    chart.options.data[0].dataPoints = finals;
                    chart.render();
                }

                //päivitetään ikätaulukko
                function successFuncIka(data, status) {
                    var finals = [];
                    var tabData = JSON.parse(data);
                    for (var i = 0; i < tabData.length; i++) {
                        finals.push({ 'label': tabData[i].label, 'y': tabData[i].y });
                    }
                    chart1.options.data[0].dataPoints = finals;
                    chart1.render();
                }

                //mikäli ei onnistuta päivittämään charttia
                function errorFunc() {
                    alert('error');
                }
            });
        });

        //Luodaan chart sukupuolijakauman mukaan
        var chart = new CanvasJS.Chart("chartContainer", {
                theme: "theme2",
                animationEnabled: true,
                title: {
                    text: "Piirakkataulukko Sukupuolijakaumasta"
                },
                subtitles: [
                    { text: "Try Resizing the Browser" }
                ],
                data: [
                    {
                        type: "pie", //change type to bar, line, area, pie, etc
                        dataPoints: @Html.Raw(ViewBag.DataPoints),
                    }
                ]
            });

        //Luodaan chart ikien mukaan
            var chart1 = new CanvasJS.Chart("chartContainer1", {
                theme: "theme2",
                animationEnabled: true,
                title: {
                    text: "Histogrammi "
                },
                axisX: {
                    labelFontSize: 20,
                    labelFontColor: "dimGrey"
                },
                axisY: {
                    labelAngle: -30
                },
                subtitles: [
                    { text: "Try Resizing the Browser" }
                ],
                data: [
                    {
                        type: "column", //change type to bar, line, area, pie, etc
                        dataPoints: @Html.Raw(ViewBag.DataPointsIka),
                    }
                ]
        });

        //Sivu ladattuna
        window.onload = function () {
            chart.render();
            chart1.render();
        }
        
    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}





